.vscode/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.exe
*.o
*.a
*.so
*.log
*.sln
*.vcxproj*
*.user
*.obj
*.dll
*.cache
*.db
.DS_Store
.env
backend_py/venv/
backend/build/
backend_py/build/
backend_py/order_book/
backend_py/Release/