# Byte-compiled / cache / logs
*.pyc
*.pyo
*.log
__pycache__/
**/__pycache__/
*.cache

# Compiled binaries and build artifacts
*.exe
*.o
*.a
*.so
*.obj
*.dll

# IDE/project files
*.sln
*.vcxproj*
*.user
.vscode/
.DS_Store

# Python virtual environments
backend_py/venv/
.env
.env/

# C++ build artifacts
backend/build/
backend/order_book.exe
order_book.exe
backend/output.txt
backend/a.cpp
backend/a_o.txt

# Python build artifacts
backend_py/build/
backend_py/order_book/
backend_py/Release/